/* CSS Document */

:focus {outline:none;}
::-moz-focus-inner {border:0;}

:root {
--background-color-header: #000000;
--background-color-main: #E6E6E6;
--background-color-card: #FFFFFF;
--font-color-less-important: #a0a0a0;
--font-color: #000000;
--accent-color-one: #05BE68;
--accent-color-two: #02A66B;
--accent-color-three: #027454;
}

*, *::after, *::before {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




/*########### HEADER ############*/
header {
    background-color: var(--background-color-header);
    height: 4.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .5em solid var(--accent-color-one);
    position: sticky;
    top: 0;
    left: 0;
}

header img {
    width: 2.6em;
}

/*############ MAIN ############*/
main {
    background-color: var(--background-color-main);
    padding-top: 1.5em;
}

main article {
    display: flex;
    flex-flow: column nowrap;
    gap: .6em;
}

.cards h2 {
    font-size: 1.2em;
    text-align: center;
    color: var(--background-color-card);
    background-color: var(--accent-color-two);
    margin: .3em auto .6em auto;
    padding: .1em 0;
    border-radius: 1em;
    width: 5.5em;
}

main .cards section {
    background-color: var(--background-color-card);
    margin: 0 1.4em;
    height: 12em;
    box-shadow: 0px 3px 5px #cecece;
}

main .cards section a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
}

.about {
    margin: 1em 1.4em;
}

.about h3 {
    font-size: 1.2em;
    text-align: center;
    color: var(--background-color-card);
    background-color: var(--accent-color-two);
    margin: 1em auto .6em auto;
    padding: .1em 0;
    border-radius: 1em;
    width: 5.5em;
}

.about p {
    text-align: justify;;
}

/*########### FOOTER ###########*/
footer {
    background-color: var(--background-color-main);
    height: 6em;
    width: 100vw;
    position: sticky;
    left: 0;
    bottom: 0;
}

footer nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    gap: .4em;
}

footer nav button {
    margin-top: 1em;
    border: none;
    background: transparent;
}

footer nav button:first-child {
    width: 5em;
}

footer nav button:last-child {
    width: 3.5em;
}